/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  font-family: "Euclid Circular A";
}
body {
  background: #001E2B !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}
div.error {
  padding: 10px;
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid var(--error);
  color: white;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}