.logo {
    width: 100px;
}
nav {
    background-color: #001E2B;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    padding-top: 0px !important;
    position: fixed;
    top: 0;
    z-index: 1111;
    width: 100vw;
    border-bottom: 1px solid #3E4F58;
    color: #E8EDEB;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.18) !important; */
}

nav a, nav button {
    color:#E8EDEB;;
    
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 15px;
     background-color: #3E4F58;
    color: #FFFFFF;
}
nav button {
     background-color: transparent;
     border-radius: 10px !important;
     border: 1px solid #00EE64 !important;
     color: #00EE64;
}
.kitchen {
    margin-right: 40px;
}
.front {
    margin-right: 40px;
}
.front, .kitchen{
    border: 1px solid white;
    border-radius: 15px;
}
.logout {
    margin-right: 10px !important;
}

.company-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: red;
    width: 100vw;
    text-align: center;
    background-color: #3E4F58;
    color: #FFFFFF;
}

.nav-links, .logo {
    margin-bottom: 15px;
}